body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;

}

.phoneborder {
    position: fixed;
    top: 4vh;
    left: 79vh;
    z-index: 10;
    pointer-events: none;
    height: 90vh;

}

.container {
    height: 86vh;
    width: 40vh;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 5px 8px gray;
    background-color: rgb(193, 255, 172);
    position: relative;
    overflow: hidden;

}

.Title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
    font-size: 40px;
    color: white;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-color: lightgrey;
    transition: 0.5s ease;
}

.topbar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0 ;
    background-color: white;
    width: 100%;
    padding-top:60px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(189, 189, 189);
    z-index: 2;
    color: rgb(80, 80, 80);
    font-size: 20px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    border-top: 0.5px solid rgb(189, 189, 189);
    z-index: 2;
}

.nav-button {
    padding: 25px 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

.on-page {
    padding: 25px 30px;
    background-color: lightgrey;
    border: none;
    cursor: pointer;
}

.nav-button:hover {
    background-color: lightgrey;
    transition: 0.5s ease;
}

.content-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 110px;
    bottom: 60px;
    z-index: 0;

}

.map-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 100px;
    bottom: 70px;
    z-index: 0;
}

.info-box {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 93%;
    font-weight: 400;
    font-size: 13px;
    color: grey;
}

.leaderboard-box {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 230px;
    padding-bottom: 230px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 93%;
    font-weight: 400;
    font-size: 13px;
    color: grey;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: none;
}   

.settings-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 60px;
    overflow-y: auto;
}

.settings-buttons {
    background-color: white;
    width: 100%;
    height: 100px;
    border: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.settings-buttons:hover {
    background-color: lightgrey;
    transition: 0.5s ease;
}

.contacts-list {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 265px;
    padding-bottom: 272px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 93%;
    font-weight: 400;
    font-size: 13px;
    color: grey;
}

.button2 {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 93%;
    font-weight: 400;
    font-size: 13px;
    color: grey;
}

.button2:hover {
    background-color: lightgrey;
    transition: 0.5s ease;
}

.stuff {
    background-color: aliceblue;
}